.main-chat
  .main-chat__group-info
    .main-chat__group
      .main-chat__group-name
        = @group.name
      .main-chat__group-member
        Member : 
        - @group.users.each do |u|
          = u.name
    %amain-chat__edit
      = link_to edit_group_path(@group), class: "main-chat__edit" do
        Edit
  .main-chat__message-list
    -# .main-chat__message
    -#   .main-chat__info
    -#     .main-chat__info-username masa
    -#     .main-chat__info-day 2019xxxxxx
    -#   .main-chat__message-content
    -#     .main-chat__content おはよう！
    .main-chat__message
      = render @messages
      -# .main-chat__info
      -#   .main-chat__info-username masa
      -#   .main-chat__info-day 2019xxxxxx
      -# .main-chat__message-content
      -#   .main-chat__content こんにちは！
  .main-chat__message-form
    = form_with model: [@group, @message], html: {class: "main-chat__form"}, local: true do |f|
      %form.main-chat__form 
        .main-chat__input-box
          = f.text_field :content, class: 'main-chat__ib-text', placeholder: 'type a message'
          = f.label :image, class: 'main-chat__form-image' do
            = icon('far', 'image')
            = f.file_field :image, class: 'main-chat__image-file'
        = f.submit 'Send', class: 'submit-btn'